// .navbar {
//   .navbar-brand {
//     font-family: "Karla", sans-serif;
//     font-size: 1.5rem !important;
//     padding-top: 0 !important;
//     margin-right: 2rem !important;
//     color: #85144b !important;
//   }
// }

// .container {
//   margin-left: auto;
//   margin-right: auto;
//   padding-left: 15px;
//   padding-right: 15px;
// }

.navbar {
  border-radius: 0.25rem;
  position: relative;
  padding: 0.5rem 1rem;

  .navbarBrand {
    font-family: "Karla", sans-serif;
    font-size: 1.5rem !important;
    padding-top: 0 !important;
    margin-right: 2rem !important;
    color: #85144b !important;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
